In [ ]:
#Carga de paquetes:

from termcolor import colored as cl #modificar color del texto

import pandas as pd # Manejar los datos
import numpy as np # Trabajar con arreglos
from sklearn.preprocessing import StandardScaler # Normalizacion de los datos
from sklearn.model_selection import train_test_split # Separaci√≥n de datos
from sklearn.tree import DecisionTreeClassifier # algoritmo de decision de arbol
from sklearn.metrics import accuracy_score # evaluacion del modelo

In [ ]:
# Importar datos

cr  = pd.read_csv("/content/creditcard.csv")

print(cr)

            Time         V1         V2        V3        V4        V5  \
0            0.0  -1.359807  -0.072781  2.536347  1.378155 -0.338321
1            0.0   1.191857   0.266151  0.166480  0.448154  0.060018
2            1.0  -1.358354  -1.340163  1.773209  0.379780 -0.503198
3            1.0  -0.966272  -0.185226  1.792993 -0.863291 -0.010309
4            2.0  -1.158233   0.877737  1.548718  0.403034 -0.407193
...          ...        ...        ...       ...       ...       ...
284802  172786.0 -11.881118  10.071785 -9.834783 -2.066656 -5.364473
284803  172787.0  -0.732789  -0.055080  2.035030 -0.738589  0.868229
284804  172788.0   1.919565  -0.301254 -3.249640 -0.557828  2.630515
284805  172788.0  -0.240440   0.530483  0.702510  0.689799 -0.377961
284806  172792.0  -0.533413  -0.189733  0.703337 -0.506271 -0.012546

              V6        V7        V8        V9  ...       V21       V22  \
0       0.462388  0.239599  0.098698  0.363787  ... -0.018307  0.277838
1      -0.082361 -0.078803  0.085102 -0.255425  ... -0.225775 -0.638672
2       1.800499  0.791461  0.247676 -1.514654  ...  0.247998  0.771679
3       1.247203  0.237609  0.377436 -1.387024  ... -0.108300  0.005274
4       0.095921  0.592941 -0.270533  0.817739  ... -0.009431  0.798278
...          ...       ...       ...       ...  ...       ...       ...
284802 -2.606837 -4.918215  7.305334  1.914428  ...  0.213454  0.111864
284803  1.058415  0.024330  0.294869  0.584800  ...  0.214205  0.924384
284804  3.031260 -0.296827  0.708417  0.432454  ...  0.232045  0.578229
284805  0.623708 -0.686180  0.679145  0.392087  ...  0.265245  0.800049
284806 -0.649617  1.577006 -0.414650  0.486180  ...  0.261057  0.643078

             V23       V24       V25       V26       V27       V28  Amount  \
0      -0.110474  0.066928  0.128539 -0.189115  0.133558 -0.021053  149.62
1       0.101288 -0.339846  0.167170  0.125895 -0.008983  0.014724    2.69
2       0.909412 -0.689281 -0.327642 -0.139097 -0.055353 -0.059752  378.66
3      -0.190321 -1.175575  0.647376 -0.221929  0.062723  0.061458  123.50
4      -0.137458  0.141267 -0.206010  0.502292  0.219422  0.215153   69.99
...          ...       ...       ...       ...       ...       ...     ...
284802  1.014480 -0.509348  1.436807  0.250034  0.943651  0.823731    0.77
284803  0.012463 -1.016226 -0.606624 -0.395255  0.068472 -0.053527   24.79
284804 -0.037501  0.640134  0.265745 -0.087371  0.004455 -0.026561   67.88
284805 -0.163298  0.123205 -0.569159  0.546668  0.108821  0.104533   10.00
284806  0.376777  0.008797 -0.473649 -0.818267 -0.002415  0.013649  217.00

        Class
0           0
1           0
2           0
3           0
4           0
...       ...
284802      0
284803      0
284804      0
284805      0
284806      0

[284807 rows x 31 columns]

In [ ]:
#AED

sin_fraude = cr [cr.Class ==  0] # Clase igual a cero sifnifica que la trassaccion no fue fraudulenta.
fraude = cr [cr.Class == 1] # Clase igual a uno sifnifica que la trassaccion fue fraudulenta.

#Cuantas transacciones con fraude y son fraude existen?:
print(len(sin_fraude), len(fraude))

284315 492

In [ ]:
#Como son nuestra variables

cr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
# Busquedade datos faltantes:

cr.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
print("Descripcion estadistica de la variable Amount para las trasacciones sin fraude")
print(sin_fraude.Amount.describe())
print("------------------------------------------------------------------------------")
print("Descripcion estadistica de la variable Amount para las trasacciones con fraude")
print(fraude.Amount.describe())

Descripcion estadistica de la variable Amount para las trasacciones sin fraude
count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64
------------------------------------------------------------------------------
Descripcion estadistica de la variable Amount para las trasacciones con fraude
count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
#Normalizacion de la variable amount, para que concuerde con las demas y no sesgue la muestra.


amount = cr["Amount"].values

cr["Amount"] = StandardScaler().fit_transform( amount.reshape(-1, 1))

print(cr["Amount"])

0         0.244964
1        -0.342475
2         1.160686
3         0.140534
4        -0.073403
            ...
284802   -0.350151
284803   -0.254117
284804   -0.081839
284805   -0.313249
284806    0.514355
Name: Amount, Length: 284807, dtype: float64

In [ ]:
#Media de ambos tipos de clase
cr.groupby("Class").mean() # Un primer insight es que vemos como los valores para las pimeras variables difieren notablemente de las transacciones con y sin fraude.

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,-0.000234
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,0.135382

In [ ]:
# Eliminamos la variable tiempo que no se considera que proporcione informacion decisiva al modelo.
cr.drop("Time", axis = 1, inplace = True)

In [ ]:
#Buscamo y eliminamos observaciones duplicadas, que no son relevantes.
#Primero observamos cuantas observaciones tenemos
cr.shape

(284807, 30)

In [ ]:
#Ahora eliminamos y vemos cuantas observaciones quedaron, osea podemos identificar cuantas estaban duplicadas
cr.drop_duplicates(inplace= True)
cr.shape

(275663, 30)

---------------------------------------------------------------
### Train & Test Split (Divison del conjunto de prueba y entrenamiento)

In [ ]:
#Creamos la variable dependiente Y (Clase) y la variable explicativa X (caracteristicas(vector de variables))

X = cr.drop("Class", axis = 1).values
X
Y = cr["Class"].values
Y
print(len(X),len(Y))

275663 275663

In [ ]:
#Ahora dividimos nuestros datos en los conjuntos de pruebe y entrenamiento

X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size = 0.20, random_state=3)

#Aqui se cream dos subconjuntos cada uno con las caracteristicas y las etiquetas de clase correspondientes.
#En un conjunto tenemos las muestras que serviran de entrenamiento(X_Train y Y_Train) y en otro conjunto ajeno las que serivirande prueva(X_Test, y Y_Test)
#X_Train esta alineado con Y_Train por lo que aprende las relaciones entre atributos y etiquetas.
#X_Test se usa para realizar la prediccion sobre esta muestra y luego se compara Y_Test que son los valores de las etiquetas verdaderos para comprobar la precision de la predicci√≥n.

#Se que el conjunto de prueba se dice que son los datos que el modelo no ve.

In [ ]:
# Implementacion del modelo:

Modelo_Tree = DecisionTreeClassifier(max_depth= 4, criterion = "entropy")#Aqui creamos un objeto (instancia) del modulo (funci√≥n) DecisionTreeClassifier
#Los parametros son max_depth que es la condici√≥n de parado osea controla la profundidad del arbol y nos ayuda a evitar sobre-ajuste y mejora el rendimiento del modelo.
#Es importante ajustar adecuadamente el valor de max_depth mediante t√©cnicas de validaci√≥n cruzada u otras t√©cnicas de selecci√≥n de hiperpar√°metros para encontrar el valor √≥ptimo que equilibre el rendimiento y la complejidad del modelo.

Modelo_Tree.fit(X_Train , Y_Train)# Entrenamos nuestro modelo.

y_hat = Modelo_Tree.predict(X_Test) #Hacemos la predicci√≥n y guardamos los resultados en un objeto(y_hat).

print(len(y_hat[y_hat==1]))
len(y_hat)

0.9994739992382058

In [ ]:
# Evaluamos la precisiond el modelo

from sklearn.metrics import f1_score

accuracy_score(Y_Test, y_hat) #Porcentaje de muestras que se se clasificaron con su etiqueta de forma correcta.

f1_score(Y_Test, y_hat) #En problemas de clasificacion es util utilizar esta metrica sobretodo cuando las clases estan muy desequilibradas.
#Esta metrica mide el queilibrio entre precision y sensibillidad del modelo
#La precisi√≥n se enfoca en c√∫an precisas son las predicciones positivas del modelo.
#La sensibilidad La sensibilidad se enfoca en cu√°n sensibles es el modelo para identificar instancias positivas correctamente.

0.79136690647482